[Desktop Entry]
Type=Application
Version=0.0.1
Encoding=UTF-8
Name=Furi Kura
Comment=Furi Kura for reddit
Exec=/usr/bin/furi-kura
Icon=/usr/share/furikura/icons/furi-kura.png
Terminal=false
StartupNotify=false
Categories=Utility
X-GNOME-UsesNotifications=true