[Desktop Entry]
Type=Application
Version=0.0.1
Encoding=UTF-8
Name=Furi Kura
Comment=Linux appindicator for reddit
Exec=/usr/bin/furikura
Icon=/usr/share/furikura/icons/furi-active.png
Terminal=false
StartupNotify=false
