<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlUnboundNsPrefix -->
<interface>
    <requires lib="gtk+" version="3.12"/>
    <!-- interface-naming-policy project-wide -->
    <object class="GtkMenu" id="furikura_menu">
        <property name="visible">True</property>
        <property name="can_focus">False</property>
        <child>
            <object class="GtkMenuItem" id="inbox">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Inbox:</property>
                <signal name="activate" handler="inbox_handler" swapped="no"/>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="karma">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Karma:</property>
            </object>
        </child>
        <child>
            <object class="GtkSeparatorMenuItem">
                <property name="visible">True</property>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="force_refresh">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Force Refresh</property>
                <signal name="activate" handler="force_refresh_handler" swapped="no"/>
            </object>
        </child>
        <child>
            <object class="GtkSeparatorMenuItem">
                <property name="visible">True</property>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="settings">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Settings</property>
                <child type="submenu">
                    <object class="GtkMenu">
                        <property name="visible">True</property>
                        <property name="can_focus">False</property>
                        <child>
                            <object class="GtkMenuItem">
                                <property name="label">Karma</property>
                                <property name="visible">True</property>
                                <property name="can_focus">False</property>
                                <child type="submenu">
                                    <object class="GtkMenu" id="karma_view">
                                        <child>
                                            <object class="GtkRadioMenuItem" id="menu">
                                                <property name="label">Menu</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="name">menu</property>
                                                <signal name="activate" handler="karma_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="icon">
                                                <property name="label">Icon</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="name">icon</property>
                                                <property name="group">menu</property>
                                                <signal name="activate" handler="karma_handler" swapped="no"/>
                                            </object>
                                        </child>
                                    </object>
                                </child>
                            </object>
                        </child>
                        <child>
                            <object class="GtkMenuItem">
                                <property name="label">Refresh</property>
                                <property name="visible">True</property>
                                <property name="can_focus">False</property>
                                <child type="submenu">
                                    <object class="GtkMenu" id="refresh_interval">
                                        <child>
                                            <object class="GtkRadioMenuItem" id="one_minute">
                                                <property name="label">1 minute</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="name">1</property>
                                                <signal name="activate" handler="refresh_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="ten_minutes">
                                                <property name="label">10 minutes</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="name">10</property>
                                                <property name="group">one_minute</property>
                                                <signal name="activate" handler="refresh_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="thirty_minutes">
                                                <property name="label">30 minutes</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="name">30</property>
                                                <property name="group">one_minute</property>
                                                <signal name="activate" handler="refresh_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="one_hour">
                                                <property name="label">1 hour</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="name">60</property>
                                                <property name="group">one_minute</property>
                                                <signal name="activate" handler="refresh_handler" swapped="no"/>
                                            </object>
                                        </child>
                                    </object>
                                </child>
                            </object>
                        </child>
                        <child>
                            <object class="GtkMenuItem">
                                <property name="label">Notifications</property>
                                <property name="visible">True</property>
                                <property name="can_focus">False</property>
                                <child type="submenu">
                                    <object class="GtkMenu" id="notifications">
                                        <child>
                                            <object class="GtkRadioMenuItem" id="with_content">
                                                <property name="label">With Content</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="name">1</property>
                                                <signal name="activate" handler="notifications_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="without_content">
                                                <property name="label">Without Content</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="name">2</property>
                                                <property name="group">with_content</property>
                                                <signal name="activate" handler="notifications_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="off">
                                                <property name="label">Off</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="name">0</property>
                                                <property name="group">with_content</property>
                                                <signal name="activate" handler="notifications_handler" swapped="no"/>
                                            </object>
                                        </child>
                                    </object>
                                </child>
                            </object>
                        </child>
                        <child>
                            <object class="GtkSeparatorMenuItem">
                                <property name="visible">True</property>
                            </object>
                        </child>
                        <child>
                            <object class="GtkMenuItem" id="add_subreddit">
                                <property name="label">Add Subreddit</property>
                                <property name="visible">True</property>
                                <property name="can_focus">False</property>
                                <signal name="activate" handler="subreddit_handler" swapped="no"/>
                            </object>
                        </child>
                        <child>
                            <object class="GtkCheckMenuItem" id="autostart">
                                <property name="label">Autostart</property>
                                <property name="visible">True</property>
                                <property name="can_focus">False</property>
                                <signal name="activate" handler="autostart_handler" swapped="no"/>
                            </object>
                        </child>
                    </object>
                </child>
            </object>
        </child>
        <child>
            <object class="GtkSeparatorMenuItem">
                <property name="visible">True</property>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">About</property>
                <signal name="activate" handler="about" swapped="no"/>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Quit</property>
                <signal name="activate" handler="quit" swapped="no"/>
            </object>
        </child>
        <child>
            <object class="GtkSeparatorMenuItem" id="subreddit_separator_one">
                <property name="visible">False</property>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="subreddit">
                <property name="visible">False</property>
                <property name="can_focus">False</property>
                <property name="sensitive">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Subreddit</property>
            </object>
        </child>
        <child>
            <object class="GtkSeparatorMenuItem" id="subreddit_separator_two">
                <property name="visible">False</property>
            </object>
        </child>
    </object>
</interface>
