<?xml version="1.0" encoding="UTF-8"?>
<interface>
    <requires lib="gtk+" version="3.12"/>
    <!-- interface-naming-policy project-wide -->
    <object class="GtkMenu" id="furikura_menu">
        <property name="visible">True</property>
        <property name="can_focus">False</property>
        <child>
            <object class="GtkMenuItem" id="furikura_inbox">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Inbox:</property>
                <property name="use_underline">True</property>
                <signal name="activate" handler="inbox_handler" swapped="no"/>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="furikura_link_karma">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Link Karma:</property>
                <property name="use_underline">True</property>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="furikura_comment_karma">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Post Karma:</property>
                <property name="use_underline">True</property>
            </object>
        </child>
        <child>
            <object class="GtkSeparatorMenuItem">
                <property name="visible">True</property>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="settings">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Settings</property>
                <property name="use_underline">True</property>
                <child type="submenu">
                    <object class="GtkMenu" id="furikura_options">
                        <property name="visible">True</property>
                        <property name="can_focus">False</property>
                        <child>
                            <object class="GtkMenuItem" id="karma_handler">
                                <property name="label">Show Karma</property>
                                <property name="visible">True</property>
                                <property name="can_focus">False</property>
                                <property name="use_underline">True</property>
                                <child type="submenu">
                                    <object class="GtkMenu" id="furikura_karma_view">
                                        <child>
                                            <object class="GtkRadioMenuItem" id="menu">
                                                <property name="label">Menu</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="use_underline">True</property>
                                                <property name="name">menu</property>
                                                <signal name="activate" handler="karma_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="icon">
                                                <property name="label">Icon</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="use_underline">True</property>
                                                <property name="name">icon</property>
                                                <property name="group">menu</property>
                                                <signal name="activate" handler="karma_handler" swapped="no"/>
                                            </object>
                                        </child>
                                    </object>
                                </child>
                            </object>
                        </child>
                        <child>
                            <object class="GtkMenuItem" id="refresh_interval">
                                <property name="label">Refresh</property>
                                <property name="visible">True</property>
                                <property name="can_focus">False</property>
                                <property name="use_underline">True</property>
                                <child type="submenu">
                                    <object class="GtkMenu" id="furikura_refresh_interval">
                                        <child>
                                            <object class="GtkRadioMenuItem" id="one_minute">
                                                <property name="label">1 minute</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="use_underline">True</property>
                                                <property name="name">1</property>
                                                <signal name="activate" handler="refresh_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="ten_minutes">
                                                <property name="label">10 minutes</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="use_underline">True</property>
                                                <property name="name">10</property>
                                                <property name="group">one_minute</property>
                                                <signal name="activate" handler="refresh_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="thirty_minutes">
                                                <property name="label">30 minutes</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="use_underline">True</property>
                                                <property name="name">30</property>
                                                <property name="group">one_minute</property>
                                                <signal name="activate" handler="refresh_handler" swapped="no"/>
                                            </object>
                                        </child>
                                        <child>
                                            <object class="GtkRadioMenuItem" id="one_hour">
                                                <property name="label">1 hour</property>
                                                <property name="visible">True</property>
                                                <property name="can_focus">False</property>
                                                <property name="use_underline">True</property>
                                                <property name="name">60</property>
                                                <property name="group">one_minute</property>
                                                <signal name="activate" handler="refresh_handler" swapped="no"/>
                                            </object>
                                        </child>
                                    </object>
                                </child>
                            </object>
                        </child>
                    </object>
                </child>
            </object>
        </child>
        <child>
            <object class="GtkSeparatorMenuItem">
                <property name="visible">True</property>
            </object>
        </child>
        <child>
            <object class="GtkMenuItem" id="exit_indicator">
                <property name="visible">True</property>
                <property name="can_focus">False</property>
                <property name="use_action_appearance">False</property>
                <property name="label" translatable="yes">Quit</property>
                <property name="use_underline">True</property>
                <signal name="activate" handler="quit" swapped="no"/>
            </object>
        </child>
    </object>
</interface>
